body {
  background-color: #f5f5f5;
  width: 100%;
  margin: 0 0;
  padding: 0;
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 auto;
  width: auto;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.crossed_out {
  text-decoration: line-through;
  text-decoration-color: rgb(255,0,0);
  font-weight: lighter;
  background-color: rgb(233, 162, 162);
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

.add_todo_btn {
  background-color: #00cd33; /* GREEN */
  color: white;
  padding: 17px;
  font-family:sans-serif;
  font-size: 12px;
  font-weight: bold;
  float:none;
}

.add_todo_btn:hover {
  background-color: #0cba37;
}

.remove_todo_btn {
  background-color: rgb(238, 12, 12);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  float: right;
  position: relative;
  top: -10px;
  right: -10px;
}

.remove_todo_btn:hover {
  background-color: rgb(204, 13, 13);
}

.hide{
  display: none;
}

input{
  justify-content: center;
  width: 600px;
  height: 45.67px;
  font-family: courier, monospace;
  font-size: 22px;
  text-indent: 25px;
  background-color: #f5f5f5;
}

input:focus{
  outline: none;
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 45.67px;
  margin-left: 40px;
}
